# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Datos
#data/raw/
#data/processed/

# Modelos (trackeados via Git LFS)

# Entorno
.env
venv/
.venv/

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# OS
Thumbs.db
.DS_Store

CLAUDE.md
opencode.json